<template name="ticketInsert">
  <div class="container-fluid clearfix">
    {{> ticketsBreadCrumbs}}
    
    <form name="form" id="form">
      {{generateTextField title='Title' label='Title *' id='title' name='title' placeholder='Enter a short title for your support ticket.' value=title required='required'}}
      
      <div class="form-group">
        <label>Description of the Issue *</label>
        <textarea class="form-control" name="description" id="description" rows="5" required="required"></textarea>
      </div>
      
      <button type="submit" class="btn btn-default btn-lg btn-block btn-primary">Create Support Ticket</button>
      
    </form>
  </div>
</template>