<template name="ticketsBreadCrumbs">
  <ol class="breadcrumb">
    {{> ticketsBreadCrumbFetch}}
    {{> ticketsBreadCrumbInsert}}
    {{> ticketsBreadCrumbUpdate}}
  </ol>
</template>

<template name="ticketsBreadCrumbFetch">
  {{#if isRoute "tickets"}}
    <li class="active">
      <i class="fa fa-life-ring"></i> Manage Support Tickets
    </li>
  {{else}}
    <li data-toggle="tooltip" title="Click to manage all tickets.">
      <a href="{{pathFor 'ticketsFetch'}}">
        <i class="fa fa-life-ring"></i> Manage Support Tickets
      </a>
    </li>
  {{/if}}
</template>

<template name="ticketsBreadCrumbInsert">
  {{#if isRoute "insert"}}
    <li class="active">
      <i class="fa fa-plus-square"></i> New
    </li>
  {{else}}
    <li data-toggle="tooltip" title="Click to create a new support ticket.">
      <a href="{{pathFor 'ticketInsert'}}"><i class="fa fa-plus-square"></i> New</a>
    </li>
  {{/if}}
</template>

<template name="ticketsBreadCrumbUpdate">
  {{#if isRoute "update"}}
    <li class="active"><i class="fa fa-level-up"></i> Update</li>
  {{/if}}
</template>


